/* Made with 💙 by Anav */

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

:root {
    --main:#3a5097;
    --accent:#80b0da;
}


html {
    scroll-snap-type: y mandatory;
}

body::-webkit-scrollbar {
    display: none;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--accent);
}

.check {
    background: white;
}

section {
    height: 100vh;
    width: 1080px;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}   

input[type = "checkbox"] {
   scale: 3;
   -webkit-appearance: none;
   -moz-appearance:none;
   appearance: none;
   visibility: none;
   display: hidden;
}

.simple .check {
    position: relative;
    display: block;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition:  ease .5s;
    border: 2px solid var(--main);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.simple .check::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    background-color: var(--main);
    transition: .3s ease;
}

.simple input[type = "checkbox"]:checked ~ .check::before {
    transform: translateX(100%);
}

.simple input[type = "checkbox"] {
    scale: 3;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
    visibility: none;
    display: hidden;
}
 
.fancy .check {
    position: relative;
    display: block;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition:  ease .3s;
    border: 2px solid var(--main);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
 
.fancy input[type = "checkbox"]:checked ~ .check {
    background: var(--main);
}
 
.fancy .check::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    background-color: var(--main);
    transition: .3s ease;
}


.fancy .check::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 4px;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    background-color: white;
    transition: .3s ease;
    transform: translateX(100%);
}

.fancy input[type = "checkbox"]:checked ~ .check::before {
    transform: translateX(-100%);
}

.fancy input[type = "checkbox"]:checked ~ .check::after {
    transform: translateX(0);
}

/* ------------ */

.overkill .check {
    position: relative;
    display: block;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    transition:  ease .3s;
    border: 2px solid var(--main);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
 
.overkill input[type = "checkbox"]:checked ~ .check {
    background: var(--main);
}
 
.overkill .check::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    background-color: var(--main);
    transition: .7s cubic-bezier(.5, .5, .4, 1.18);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.overkill .check::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 4px;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    background-color: white;
    transition: .7s cubic-bezier(.5, .5, .4, 1.18);
    transform: translateX(600px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    rotate: 45deg
}

.overkill input[type = "checkbox"]:checked ~ .check::before {
    transform: translateX(-600px);
    rotate:45deg;

}

.overkill input[type = "checkbox"]:checked ~ .check::after {
    transform: translateX(0px);
    rotate: 0deg
    ;
}
